@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.leaflet-container {
  width: 90vw;
  height: 100vh;
}